.blinker {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background-color: yellow;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}


.calc {
    margin-top: 20px;
    padding: 20px 40px;
}

.greenButton {
    background: green;
    color: white;
    font-size: 9pt;
}

.redButton {
    background: red;
    color: white;
    font-size: 9pt;
}